<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="2.0.0.576" targetFramework="net45" />
  <package id="FubuCore" version="1.2.0.272" targetFramework="net45" />
  <package id="FubuLocalization" version="0.9.5.124" targetFramework="net45" />
  <package id="FubuMVC.Core" version="1.2.0.1678" targetFramework="net45" />
  <package id="FubuMVC.StructureMap3" version="3.0.0.108" targetFramework="net45" />
  <package id="FubuTransportation" version="0.5.0.157" targetFramework="net45" />
  <package id="HtmlTags" version="1.2.0.144" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net45" />
</packages>